<div class="table-responsive">
	<table class="table table-bordered table-striped table-sm">
	  <thead>
	    <tr>
	      <th>Symbol</th>
	      <th class='text-right'>Quantity</th>
	      <th class='text-right'>Dividend/Share</th>	
	      <th class='text-right'>Total Dividend</th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @stocks.each do |stock| %>
	      <tr>
	        <td><%= stock[0] %></td>
	        <td class='text-right'><%= number_with_precision(stock[1], :precision => 0, :delimiter => ',') %></td>
	        <td class='text-right'><%= number_to_currency(0) %></td>
	        <td class='text-right'><%= number_to_currency(stock[7]) %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
</div>
