
<div class="container">
	  <header class="blog-header py-3">
	    <div class="row flex-nowrap justify-content-between align-items-center">
	      <div class="col-4">
		    <a class="btn btn-sm btn-outline-secondary" href="/">Home</a>		
	      </div>

	      <div class="col-4 text-center">
	        <a class="blog-header-logo text-dark" href="#">Portfolio Manager</a>
	      </div>

	      <div class="col-4 d-flex justify-content-end align-items-center">
	      </div>


	    </div>
	  </header>
</div>


<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">

<br>
      <div class="blog-post">
        <h2 class="blog-post-title">Bits and Pieces about this App</h2>
        <p class="blog-post-meta">May 25, 2018 by <a href="#">Andy</a></p>


<pre>
Need to add the following as configurable settings:
1. Portfolio Graph's
 	min, max and step sizes	
2. Polling frequency for JS timer
</pre>

<h5>Authentication from Scratch in Rails 5</h5>
Implemented this on June 7th, 2018<br>
<a href='https://rubyplus.com/articles/4171-Authentication-from-Scratch-in-Rails-5'> rubyplus.com/articles/4171-Authentication-from-Scratch-in-Rails-5</a>
<hr>

<h5>How to rename a Heroku remote app</h5>
Useful when cloning or duplicating an app<br>
<a href='https://devcenter.heroku.com/articles/git#renaming-remotes'> https://devcenter.heroku.com/articles/git#renaming-remotes</a>
<hr>

<h5>Useful Heroku commands</h5>
<p><b>run a rake task</b><br>
heroku rake convert:refresh_on_request --app her17
</p>

<p><b>Install Sendgrid Mailer</b><br>
heroku addons:create sendgrid:starter
</p>
<p><b>Install and open the scheduler</b><br>
heroku addons:create scheduler:standard<br>
heroku addons:open scheduler</p>
<p>
<p><b>monitor an app log</b><br>
heroku logs --tail --app heraga
</p>
<p><b>run rails console</b><br>
heroku run console --app heraga
</p>
<p><b>get info on app</b><br>
heroku info heraga
</p>
<hr>

<h5>Create a clone of a Heroku App</h5>
<a href='https://github.com/heroku/heroku-fork'>https://github.com/heroku/heroku-fork</a><br>
<p><b>install fork</b><br>
heroku plugins:install heroku-fork
</p>
<p><b>add the git repo</b><br>  
git remote add forked git@heroku.com:heraga.git
</p>
<p><b>create the new app</b><br>
heroku fork --from her17  --to heraga
</p>  
<p><b>push new code to apps</b><br>
git push forked master<br>
git push heroku master
</p>
<hr>

<h5>Using Ironstore cache on Heroku</h5>
<p><b>setup the ironcache store</b><br>
ironcache = IronCache::Client.new<br>
@cache = ironcache.cache("my_cache")<br>
@cache.put("poll_request", 'false')<br>
@cache.put("poll_request_time", Time.now.to_s)
</p>
<hr>

<h5>Rails wrapper for chart.js</h5>
<p><b>Useful to plug in a simple graph on a page</b><br>
<a href='https://www.chartkick.com/'>https://www.chartkick.com/</a>
</p>
<hr>

<h5>Inform app of it's instance name</h5>
<p><b>Useful to customize specifics for instance</b><br>	
First, set a config variable like this
<pre>heroku config:add APP_NAME=<myappname> --app <myappname></pre>
Then access the variable in rails
<pre>ENV["APP_NAME"] # '<myappname>'</pre>
This is handy if you want to load different config file (say with oauth credentials) based on the app's name or id.


      </div><!-- /.blog-post -->

      <div class="blog-post">
        <h2 class="blog-post-title">Another post</h2>
        <p class="blog-post-meta">Future Date by <a href="#">Andy</a></p>
		<p>Nothing yet...</p>
      </div><!-- /.blog-post -->


      <nav class="blog-pagination">
        <a class="btn btn-outline-primary" href="#">Older</a>
        <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
      </nav>

    </div><!-- /.blog-main -->

    <aside class="col-md-4 blog-sidebar">
      <div class="p-3 mb-3 bg-light rounded">
        <h4 class="font-italic">About</h4>
        <p class="mb-0">This app was created to track portfolios that are held on separate accounts. It is designed to highlight important events, trends and situations</p>
      </div>

      <div class="p-3">
        <h4 class="font-italic">Archives</h4>
        <ol class="list-unstyled mb-0">
          <li><a href="#">June 2018</a></li>
        </ol>
      </div>

      <div class="p-3">
        <h4 class="font-italic">Elsewhere</h4>
        <ol class="list-unstyled">
          <li><a href="#">GitHub</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
        </ol>
      </div>
    </aside><!-- /.blog-sidebar -->

  </div><!-- /.row -->

</main><!-- /.container -->

<footer class="blog-footer">
  <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>

