
<pre>

	<div class="container-fluid">
	  <div class="row">

		require 'rubygems'
		require 'action_view'
		include ActionView::Helpers::DateHelper

		time_ago_in_words Time.now - 4 * 86400
		
		
	https://github.com/heroku/heroku-fork

	# install fork
	heroku plugins:install heroku-fork

	# create the new app
	heroku fork --from her17  --to heraga  

	# add the git repo  
	git remote add forked git@heroku.com:heraga.git

	# monitor the apps
	heroku logs --tail --app heraga
	heroku logs --tail --app her17

	# run console for apps
	heroku run console --app heraga
	heroku run console --app her17

	# get info on apps
	heroku info heraga
	heroku info heraga

	# push new code to apps
	git push forked master
	git push heroku master

	# setup the ironcache store
	@ironcache = IronCache::Client.new
	@cache = @ironcache.cache("my_cache")
	@cache.put("poll_request", 'false')
	@cache.put("poll_request_time", Time.now.to_s)

	heroku run history:daily_snapshot --app heraga


	So if you need to know the app id outside a request, you's set a config variable like this

	heroku config:add APP_NAME=<myappname> --app <myappname>
		
	And enable lab feature that allows you to use them during compile
	ENV["APP_NAME"] # '<myappname>'
	This is handy if you want to load different config file (say with oauth credentials) based on the app's name or id.

</pre>

  </div><!-- row -->
</div><!-- container-fluid -->
